html {
    background: 0 0;}

body {
    font-family: var(--hs-body-font-family);
    color: var(--dark-grey);
    background-color: var(--body-bg);
    text-align: left;
}

body .homeserve-thin {
    font-family: var(--font-hs-family-thin-stack);}

body .homeserve-medium {
    font-family: var(--font-hs-family-medium-stack)}

body .homeserve-thick {
    font-family: var(--font-hs-family-thick-stack)}

body .homeserve-extrathick {
    font-family: var(--font-hs-family-extrathick-stack)}

.section-spacer {margin-bottom: var(--warmly-section-bottom-spacer);}
.section-header {margin-bottom: var(--warmly-section-header-bottom-spacer)}

//Necessary for footer to stick to the bottom
footer {
    margin-top: auto;
}

.root-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
//END 