/*BUTTONS*/
.btn {
    font-weight:bold; box-shadow: var(--warmly-btn-shadow); padding: var(--warmly-btn-padding-y) var(--warmly-btn-padding-x);
    display: block;

    @media screen and (min-width: 576px) {
        display: inline;
    }

    &:hover, &:focus {
        box-shadow: var(--warmly-btn-active-shadow); border-color: transparent;
    }

    & span[class^="icon-hs"], & span[class*=" icon-hs"] {font-size: 1.25rem;}
}

.btn-primary {
    background-color: var(--warmly-navy); color: var(--warmly-peach); border-color:transparent;

    &:hover, &:focus {
        background-color: var(--warmly-dark-red); color:white;
    }
}

.btn-secondary {
    background-color:white; color: var(--warmly-navy);

    &:hover, &:focus {
        background-color: var(--warmly-dark-red); color:white;
    }
}