$theme-colors: (
    "dark-grey": #333333,
    "warmly-navy": #15547b,
    "warmly-red": #f3756b,
    "warmly-peach": #fdd3af,
    "warmly-cream": #f9fad8,
    "warmly-teal": #0db6bb,
    "warmly-blue": #1484a7,
    "warmly-dark-red": #c25e56
);

/*Type custom colour*/
.warmly-navy-text {color: var(--warmly-navy);}
.warmly-red-text {color: var(--warmly-red);}
.warmly-dark-red-text {color: var(--warmly-dark-red);}
.warmly-peach-text {color: var(--warmly-peach);}
.warmly-cream-text {color: var(--warmly-cream);}
.dark-grey-text {color: var(--dark-grey);}

/*Background custom colour*/
.warmly-navy-bg {background-color: var(--warmly-navy);}
.warmly-peach-bg {background-color: var(--warmly-peach);}
.warmly-blue-bg {background-color: var(--warmly-blue);}
.warmly-body-bg {background-color: var(--body-bg);}

// Tint a colour: mix a colour with white
@function tint-color($color, $percentage) {
    @return mix(white, $color, $percentage);
}
// Shade a colour: mix a colour with white
@function shade-color($color, $percentage) {
    @return mix(black, $color, $percentage);
}
//Generate tints & shades
@each $color, $value in $theme-colors {
    @for $i from 100 through 10 {
        @if $i % 10 == 0 {
            $percentage: $i*1%;
            .#{$color}-bg-#{100+$i} {
                background-color: shade-color($value, $percentage);
            }
            .#{$color}-text-#{100+$i} {
                color: shade-color($value, $percentage);
            }
        }
    }
    @for $i from 10 through 100 {
        @if $i % 10 == 0 {
            $percentage: $i*1%;
            .#{$color}-bg-#{100-$i} {
                background-color: tint-color($value, $percentage);
            }
            .#{$color}-text-#{100-$i} {
                color: tint-color($value, $percentage);
            }
        }
    }
}