:root {
    --body-bg: #f9f9f9;
    --dark-grey: #333333;
    --warmly-red: #f3756b;
    --warmly-navy: #15547b;
    --warmly-peach: #fdd3af;
    --warmly-cream: #f9fad8;
    --warmly-teal: #0db6bb;
    --warmly-blue: #1484a7;
    --warmly-dark-red: #c25e56;
    --warmly-link-color: #127796;
    --warmly-link-hover-color: #0e5c75;
    --hs-body-font-family: Arial, sans-serif;
    --font-hs-family-thin-stack: 'museo-sans-rounded-300', Arial, sans-serif;
    --font-hs-family-medium-stack: 'museo-sans-rounded-500', Arial, sans-serif;
    --font-hs-family-thick-stack: 'museo-sans-rounded-700', Arial, sans-serif;
    --font-hs-family-extrathick-stack: 'museo-sans-rounded-900', Arial, sans-serif;
    --font-hs-family-functional-icons: 'HomeServe-Icons';
    --hs-main-heading-line-height: 1;
    --hs-heading-line-height: 1.2;
    --warmly-btn-shadow: 0 1px 4px rgba(0,0,0,0.5);
    --warmly-btn-active-shadow: 0 0 2px rgba(0,0,0,0.5);
    --warmly-section-bottom-spacer: 4.5rem;
    --warmly-section-header-bottom-spacer: 4rem;
    --warmly-teaser-margin-top-offset1: 3rem;
    --warmly-teaser-margin-top-offset2: 6rem;
    --warmly-teaser-margin-top-offset3: 9rem;
    --warmly-btn-padding-x: 1.25rem;
    --warmly-btn-padding-y: 0.9rem;
    --warmly-accordion-bg-color: transparent;
    --warmly-accordion-active-bg: #d0e6ed;
    --warmly-accordion-btn-bg: transparent;
    --warmly-accordion-btn-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.3.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23C25E56;%7D%0A%3C/style%3E%3Cpath class='st0' d='M3.4,4.3L8,8.9l4.6-4.6L14,5.7l-6,6l-6-6L3.4,4.3z'/%3E%3C/svg%3E%0A");
    --warmly-accordion-btn-icon-width: 1.25rem;
}

/*Type (rems)*/
$font-size-body:1rem;

$font-size-h1-xs: 2.5;
$font-size-h1-sm: 3;
$font-size-h1-md: 4;

$font-size-h2-xs: 1.5;
$font-size-h2-sm: 1.75;
$font-size-h2-md: 2.5;

$font-size-h3-xs: 1.1;
$font-size-h3-md: 1.375;