[class^="icon-hs"],
[class*=" icon-hs"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'HomeServe-Icons' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    cursor: default;
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-hs-register:before {
    content: '\e926';
}

.icon-hs-phone-iphone:before {
    content: "\e92b";
}

.icon-hs-boiler:before {
    content: "\e901";
}

.icon-hs-smiley-face:before {
    content: "\e93f";
}

.icon-hs-arrow-forward:before {
    content: "\e93c";
}

.icon-hs-tick:before {
    content: "\e922";
}

.icon-hs-contact-us:before {
    content: "\e607";
}

.icon-hs-play-video:before {
    content: "\e9b0";
}

.icon-hs-open-in-new:before {
    content: "\e9b1";
}

/*Sizes*/
.icon-hs-05x {
    font-size: 0.5rem !important;
}

.icon-hs-1-5x {
    font-size: 1.5rem !important;
}

.icon-hs-2x {
    font-size: 2rem !important;
}

.icon-hs-2-5x {
    font-size: 2.5rem !important;
}

.icon-hs-3x {
    font-size: 3rem !important;
}

.icon-hs-3-5x {
    font-size: 3.5rem !important;
}

.icon-hs-4x {
    font-size: 4rem !important;
}

.icon-hs-4-5x {
    font-size: 4.5rem !important;
}

.icon-hs-5x {
    font-size: 5rem !important;
}