.inc-teaser {padding-left:3rem; margin-bottom:2rem; position: relative;}
.inc-teaser:before {font-family: "HomeServe-Icons"; content:"\e922"; font-size:1.5rem; position:absolute; left:0; top:-4px; color:#ff8f85;}
.inc-teaser h3, .inc-teaser .h3 {margin-bottom:0.5rem;}