.hero {
	background-size:auto 85%; background-repeat: no-repeat; 
	background-color:#f9f9f9; color:#17557b; margin-bottom:1rem;
	padding-top:2rem; padding-bottom:2rem;
}
.hero .logo {width:130px; margin-bottom:2rem;}
.hero ul li {font-size:1.125rem;}
.hero #boiler-wrapper {position: relative;}
.hero #boiler-wrapper {position: absolute; bottom:0; right: 1rem;}
.hero #boiler-wrapper #boiler-img img {width:400px;}
.hero #boiler-brands span {display:inline-block; margin-right:1.5rem; margin-bottom:1rem;}
.hero #boiler-brands span img {height:3rem;}

@media screen and (min-width:576px) {
	.hero .logo {width:160px; margin-bottom:2rem;}
}

@media screen and (min-width:768px) {
	.hero {background-size:auto 80%; background-position:top center; padding-top:4rem; padding-bottom:4rem;}
	.hero .logo {width:240px; margin-bottom:3rem;}
	.hero #boiler-brands span {display:inline-block; margin-right:0; margin-bottom:0;}
	.hero #boiler-brands span img {height:2.5rem;}
	.hero #boiler-brands span + span {margin-left:1.25rem;}
}

@media screen and (min-width:992px) {
	.hero {background-size:auto 70%; margin-bottom:3rem;}
	.hero #boiler-brands span {display:inline-block; margin-right:1.5rem; margin-bottom:1rem;}
	.hero #boiler-brands span img {height:3rem;}
	.hero #boiler-brands span + span {margin-left:0;}
}

@media screen and (min-width:1200px) {
	.hero {background-repeat: no-repeat, repeat-x; background-position: top right, left;  min-height:auto;
		background-size:auto 100%; padding-bottom:0;}
	.hero #boiler-brands span {display:inline-block; margin-right:0; margin-bottom:0;}
	.hero #boiler-brands span img {height:2.5rem;}
	.hero #boiler-brands span + span {margin-left:1.25rem;}
	.hero #boiler-wrapper #boiler-img img {width:360px;}
}