.warmly-contact-card {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
}

@media (min-width:768px) {
    .warmly-contact-card {
        margin-bottom: 3rem;
    }
}

.warmly-card-icon {
    margin-bottom: 0.5rem;
    height: 7.5rem;
}

.warmly-card-icon > img {
    height: inherit;
}