.inc-teaser {padding-left:3rem; margin-bottom:2rem; position: relative; color: white; font-family: "museo-sans-rounded-700", Arial, sans-serif; font-size:1.1875rem;}
.inc-teaser:before {font-family: "HomeServe-Icons"; content:"\e922"; font-size:1.5rem; position:absolute; left:0; top:-4px; color:#fbd6d3;}
.inc-teaser a {color: white;}